<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
</head>
<body>
    <h1>Магазин</h1>
    <nav>
        <a href="/">Главная страница</a>
        <a href="{% url 'store' %}">Магазин</a>
        <a href="{% url 'cart' %}">Корзина</a>
    </nav>
    <ul>
        {% for key, value in items.items %}
        <li>{{ value }} <button>Купить</button></li>
        {% endfor %}
    </ul>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>